* {
    background-color: #f1e2e3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    background-color: #251b6b;
    width: 100%;
    height: 35px;
    padding: 35px;
    border-bottom: 4px solid goldenrod;
    display: flex;
    flex-direction: row;
}

.navbar h1 {
    background-color: #251b6b;
    color: #f1e2e3;
    margin-right: 67vw;
    margin-left: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
   overflow: hidden;
}

ul li {
  float: left; /* Left to Right */
}

ul li a {
  display: block;
  color: white;
  background-color: #251b6b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #4c39c4;
}

#about {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
    justify-content: center;
    width: 55vw;
    box-shadow: 0 0 10px;
    padding: 25px
}

#about-title {
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 2px solid #251b6b;
}

#about-content {
    text-indent: 15px;
    line-height: 2.2rem;
}

#signature {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #251b6b;
}
