* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #6a5acd;
    margin: 0; 
}

body {
  overflow-x: hidden;
}

.navbar {
    background-color: #251b6b;
    width: 100%;
    height: 35px;
    padding: 35px;
    border-bottom: 4px solid goldenrod;
    display: flex;
    flex-direction: row;
}

.navbar h1 {
    background-color: #251b6b;
    color: #f1e2e3;
    margin-right: 67vw;
    margin-left: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
   overflow: hidden;
}

ul li {
  float: left; /* Left to Right */
}

ul li a {
  display: block;
  color: white;
  background-color: #251b6b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #4c39c4;
}

.hero {
    color: #f1e2e3;
    text-align: center;
    margin: 0px auto;
    padding-top: 25vh;
    height: 65vh;
    font-size: 23px;
    line-height: 3.2em;
}

.about {
    background-color: #f1e2e3;
    text-align: center;
    margin: 0px auto;
    padding-top: 25vh;
    height: 65vh;
    font-size: 23px;
    line-height: 3.2em;
}

.about-content h2, .about-content p, .about-content strong {
    background-color: #f1e2e3;
}

.about p {
    font-size: 20px;
}

.tutorial-container {
  display: flex;
  margin: auto 25px;
  padding: 10px;
  height: 55vh;
}

.tutorial-html, .tutorial-css {
    text-align: center;
    line-height: 1.5rem;
  border: solid 2px #020077;
  border-radius: 4px;
  box-shadow: 0 0 10px;
  background-color: #ececec;
  padding: 25px;
  margin: 25px;
  transition: all 0.55s ease;
  max-width: 450px;
}

.tutorial-html h2, .tutorial-html p, .tutorial-html a, .tutorial-css h2, .tutorial-css p, .tutorial-css a {
    background-color: #ececec;
}

.tutorial-html p:first-of-type {
        border-bottom: 2px solid;
        padding-top: 10px;
        margin-bottom: 10px;
}

.tutorial-css p:first-of-type {
        border-bottom: 2px solid;
        padding-top: 10px;
        margin-bottom: 10px;
}

footer {
    padding: 25px;
    background-color: #251b6b;
    color: #f1e2e3;
    border-top: 4px solid goldenrod;
    text-align: center;
}

footer p {
    background-color: #251b6b;
    font-size: 16px;
    margin-left: 25px;
}

footer a {
    background-color: #251b6b;
    color: goldenrod;
}


