* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #6a5acd;
    margin: 0; 
}

body {
  overflow-x: hidden;
}

.navbar {
    background-color: #251b6b;
    width: 100%;
    height: 35px;
    padding: 35px;
    border-bottom: 4px solid goldenrod;
    display: flex;
    flex-direction: row;
}

.navbar h1 {
    background-color: #251b6b;
    color: #f1e2e3;
    margin-right: 67vw;
    margin-left: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
   overflow: hidden;
}

ul li {
  float: left; /* Left to Right */
}

ul li a {
  display: block;
  color: white;
  background-color: #251b6b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #4c39c4;
}

.hero {
    text-align: center;
    margin: 0px auto;
    padding-top: 25vh;
    height: 65vh;
    font-size: 23px;
    line-height: 3.2em;
}

.content {
    background-color: #f1e2e3;
}

.content > h2 {
        text-align: center;
        padding-top: 25px;
        margin-bottom: 25px;
        font-size: 33px;
        background-color:#f1e2e3;
}

.content > p {
    line-height: 1.5rem;
    text-align: center;
    margin: 20px 55px;
    background-color: #f1e2e3;
}

.content > p:last-of-type {
    padding-bottom: 20px;
}



