* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #6a5acd;
    margin: 0; 
}

body {
  overflow-x: hidden;
}

.navbar {
    background-color: #251b6b;
    width: 100%;
    height: 35px;
    padding: 35px;
    border-bottom: 4px solid goldenrod;
    display: flex;
    flex-direction: row;
}

.navbar h1 {
    background-color: #251b6b;
    color: #f1e2e3;
    margin-right: 67vw;
    margin-left: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
   overflow: hidden;
}

ul li {
  float: left; /* Left to Right */
}

ul li a {
  display: block;
  color: white;
  background-color: #251b6b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #4c39c4;
}

.hero {
    color: #f1e2e3;
    text-align: center;
    margin: 0px auto;
    padding-top: 25vh;
    height: 65vh;
    font-size: 23px;
    line-height: 3.2em;
}

.about {
    background-color: #f1e2e3;
    text-align: center;
    margin: 0px auto;
    padding-top: 25vh;
    height: 85vh;
    font-size: 23px;
    line-height: 3.2em;
}

.about-content h2, .about-content p, .about-content strong {
    background-color: #f1e2e3;
}

.about p {
    font-size: 20px;
}

.about-btn-container {
    background-color: #f1e2e3;
}

.about-btn {
    padding: 10px;
    border-radius: 32px;
    box-shadow: 0 0 10px;
    background-color: #f1e2e3;
    transition: all 0.5s ease;
}

.about-btn:hover {
    background-color: #251b6b;
    color: #f1e2e3;
    transform: scale(1.1);
}

.tutorials {
  height: 85vh;
}

.tutorials h2 {
    text-align: center;
    margin: 35px auto 10px auto;
}

.tutorials p {
    text-align: center;
    margin-bottom: 25px;
}

.tutorial-html p:first-of-type {
    border-bottom: 2px solid #251b6b
}

.tutorial-css p:first-of-type {
    border-bottom: 2px solid #251b6b
}


.tutorial-container {
  display: flex;
  margin: 10px auto;
  justify-content: center;
}

.tutorial-html, .tutorial-css {
    border-radius: 6px;
    box-shadow: 0 0 10px;
    width: 250px;
    margin: 20px 20px;
    padding: 25px;
    text-align: center;
    background-color: #f2f0ef;
    transition: all 0.5s ease;
}

.tutorial-html h2, .tutorial-html p, .tutorial-html a, 
.tutorial-css h2, .tutorial-css p, .tutorial-css a {
    background-color: #f2f0ef;
}

.tutorial-html > a, .tutorial-css > a {
    border: 1px solid #251b6b;
    border-radius: 8px;
    padding: 10px;
    background-color: #f8f0e3;
    box-shadow: 0 0 10px; 
    transition: all 0.4s ease;
}

.tutorial-html > a:hover, .tutorial-css > a:hover {
    border: 1px solid #f8f0e3;
    color: #f8f0e3;
    border-radius: 8px;
    padding: 10px;
    background-color: #251b6b;
    box-shadow: 0 0 10px; 
    cursor: pointer;
}

.tutorial-css:hover, .tutorial-html:hover {
    transform: scale(1.1);
}



footer {
    padding: 25px;
    background-color: #251b6b;
    color: #f1e2e3;
    border-top: 4px solid goldenrod;
    text-align: center;
}

footer p {
    background-color: #251b6b;
    font-size: 16px;
    margin-left: 25px;
}

footer a {
    background-color: #251b6b;
    color: goldenrod;
}


